[Unit]
Description=piPa55 password manager
Requires=usb_gadget.service

[Service]
Type=forking
ExecStart=/root/piPa55/start_piPa55.sh
ExecStop=/root/piPa55/stop_piPa55.sh
ExecReload=/root/piPa55/restart_piPa55.sh

[Install]
WantedBy=multi-user.target
